# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/app

# Test binary
*.test
*.out

# Go workspace
go.work
go.work.sum

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
